@keyframes containerTitleAnimate {
    from {
        margin-bottom: -1.8rem;
    }
    to {
        margin-bottom: 1.5rem;
    }
}

.container {
    width: 85%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;


    &__title {
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: $textColor;
        animation: containerTitleAnimate .4s forwards alternate;
    }
}