.contactItem {
    width: 45%;
    height: 20px;
    
    &__fullName {
        padding-bottom: .5rem;
        border-bottom: 2px dotted #cdcdcd;
        cursor: pointer;
        
        p {
            transition: .4s;
            &:hover {
                transform: translateY(-5px);
            }
        }

    }
}