@keyframes containerTitleAnimate {
    from {
        margin-bottom: -1.8rem;
    }
    to {
        margin-bottom: 1.5rem;
    }
}

.container {
    width: 85%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    position: relative;


    &__header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        animation: containerTitleAnimate .4s forwards alternate;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        color: $textColor;

    }
}